{{#shapes}}
    /* the svg-sprite plugin uses this to loop and create a css template for the icons */
    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-image: url('/app/temp/sprite/css/{{{sprite}}}');
        background-position: {{position.relative.xy}};
    }
{{/shapes}}