.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    
    @media (min-width: 800px) {
        background-color: rgba($mainBlue, .3);
    }
    
    &__btn-container {
        float: right;
    }
    
    &__logo {
        position: absolute;
/*        resets the top of the logo to the top, to sounteract the padding from the main site-header*/
        top: 0;
        left: 50%;
/*       
        pull the logo back by half of its own width and itll be centered again - left being used to pull it right (positive vals are left negative are right)
        
        slightly shrink the logo to .8 it's usual size, and reset the origin so that there isn't a space above it (aka tellingit that it's point of origin is at the center top part of the element)
*/
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0%;
        background-color: $mainBlue;
        padding: 25px 36px;

        @media (min-width: 800px) {
            left: auto;
            transform: translateX(0);
        }
    }
    
    &__menu-content {
        display: none;
        
        @media (min-width: 800px) {
            display: block;
        }
    }
    
    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: #FFF;
        position: absolute;
        top: 10px;
        right: 10px;
        
        @media (min-width: 800px) {
            display: none;
        }
    }
}