.social-icons {
    text-align: center;
    
    &__icon {
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 5px 5px 5px;
        width: 33%;
        height: 72px;
        position: relative;
        
        @media (min-width: 530px) {
            width: 72px;
        }
        
        .icon {
/*            centers the image within the orange button - parent needs position relative for this to work*/
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 5px;
        }
    }
}